page-pedido {
  .foto-vend{
    margin-top: 8%;
    margin-left: 26%;
    padding:10px;
    background-color: #542F8B;
    width:65%;
  }
  #text{
    font-size: 15px;
  }
  .img-vend{
    height: auto;
    width: 600px;
    position: absolute;
    z-index: 9999;
  }

  .img-rec{
    margin-top: 10%;
    margin-left: 10%;
  }
  .botao{
		color: #fff;
	}
  .botao-menu{
    margin-left: 85%;
    font-size: 30px;
  }

  .center {
    center: center;
  }
}
