page-welcome {

    .content {background: url("/assets/img/coroas.png");
    background-repeat: repeat;
}
  .balao_welcome{
    margin-top: 15%;
    margin-left: 5%;
  }
  .botao{
		color: #fff;
	}
  .botao-menu{
    margin-left: 85%;
    font-size: 30px;
  }
}
