page-pergunta {

.pergunta{
	background: #C6AE83;
}
.pergunta_h3{
	margin-top:100px;
	font-size: 20px;
	color:white;
	text-align: center;
}
.pergunta_p{
	font-size: 20px;
	text-align: center;
}
.buttonRes{
	margin-left:35px;
	background:#542F8B;
}
}
