page-home-cliente {

	.image_sugestao{
		height: 180px;

		background-repeat: no-repeat;
	}
	.botao{
		color: #fff;
	}
	.image_conquista{
		padding-top: 5px;
		background:red;
		height: 180px;
		background-image: url('img/produtos-eudora.jpg');
		margin-top: 12px;
	}
	.image_conquista_{
		padding-top: 5px;
		background:red;
		height: 180px;
		background-image: url('img/produtos-eudora.jpg');
		margin-top: 12px;
	}
}
